.view{
  width: 250px;
  background-color: #2B2A2A;
  color: #fff;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  a{
    color: #fff;
    text-decoration: none;
  }
}
.home{
  background-color: #AB844A;
  position: relative;
  top: -100px;
  z-index: 10;
}