.Card{
  color: #000;
  text-decoration: none;
  width: 250px;
  margin: 10px 0px;
  .img{
    height: 332px;
    background-color: lightcoral;
  }
  .info{
    .text{
      display: flex;
      flex-direction: column;
      :first-child{
        color: #AB844A;
        font-weight: 700;
      }
      :nth-child(2){
        font-weight: 700;
      }
      :last-child{
        color: #7C7C7C;
        font-size: 14px;
      }
    }
    .colors{
      margin-top: 18px;
      display: flex;
      >div{
        margin: 0px 10px;
      }
    }
  }
}