.DropDown{
  display: flex;
  flex-direction: column;
  width: 173px;
  border: 2px solid #b6b6b67c;
  position: absolute;
  z-index: 6;
  background-color: #fff;
  top: 77.5px;
  right: 170px;
  span{
    color: #7c7c7c;
    margin: 12px 0px;
    padding: 0px 20px;
  }
  div{
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.322);
    margin: 5px 0px;
  }
}