.main {
    display: flex;
    justify-content: space-between;
}
.container{
    max-width: 1100px;
    margin: auto;
}
.container h2{
    margin-top: 20px;
    font-size: 32px;
}
.wrapper {
   max-width: 532px;
   max-height: 250px;
   display: flex;
   justify-content: space-between;
   border: 1px solid #E4E4E4;
   margin-top: 20px;
}
.wrapper img {
    width: 250px;
    height: 250px;
}
.wrapper div {
    width: 282px;
    height: 250px;
}
.wrapper p{
    color: #7C7C7C;
    font-size: 13px;
    line-height: 150%;
    margin-top: 10px;
}
.wrapper h3{
    font-size: 16px;
    width: 234px;
    line-height: 150%;
    margin-top: 10px;
    
}
.wrapper h4{
    font-size: 14px;
    color: #7C7C7C;
    width: 234px;
    line-height: 150%;
    margin-top: 10px;
}
.wrapper button{
    width: 234px;
    height: 44px;
    background-color: white;
    color: black;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
.wrapper button:hover{
    background-color: #2B2A2A;
    color: white;
}
.new {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    max-width: 1100px;
    margin: auto;
}
.red{
    color: red;
}